*{
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
}

.navbar{
    display: flex;
    position: relative;
    justify-content:space-evenly;
    background-color: #C1C1C1;
    height: 70px;
    align-items: center;
    margin-bottom: 35px;
    width: 700px;

}
li{
    list-style-type: none;
}
.searchbar{
    border: 2px solid black;
    height: 25px;
    width: 350px;
}

.Loginbtn{
    background-color: #2B78E4;
    color: white;
    border: 2px solid black;
    box-shadow: 2px 2px black ;
    height: 25px;
    width: 50px;
}

.con1{
    border: 3px solid black;
    margin-bottom: 10px;
    align-items:start;
    justify-content: center;
    padding-left: 10px;
    height: 150px;
    padding-top: 10px;
}
.con2{
    border: 3px solid black;
    margin-bottom: 10px;
    align-items:start;
    justify-content: center;
    padding-left: 10px;
    height: 150px;
    padding-top: 15px;
}
.block1{
    width: 450px;
    align-items: center;
}
.text {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.con1btn{
    background-color: #FFD966;
    height: 30px;
    width: 70px;
    box-shadow: 2px 2px black;

}
.con1btn2{
    background-color: #FFD966;
    height: 30px;
    width: 70px;
    box-shadow: 2px 2px black;
}

.block2{
    border: 3px solid black;
    margin-left: 15px;
    height: 100px;
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    
}
.block2 p {
    padding-right: 110px;
    padding-left: 10px;
    justify-content: start;
    padding-bottom: 10px;
}
.con1btn3{
    background-color: #93C47D;
    height: 30px;
    width: 140px;
    box-shadow: 2px 2px black;
    
}

.b1b2{
    display: flex;
}